.main {
    padding: 2em 0em;
    max-width: 600px;
    width: 100%;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    align-items: center;
}

.row > label {
    min-width: 70px;
    flex: 0;
}

.row > * {
    flex: 4;
}

.loading {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: -0;
    height: 1000vh;
    overflow: hidden;
    width: 100vw;
    background-color: rgba(200, 200, 200, 0.5);
}